
/*========================
CSS variables
==========================*/
:root {

}


/*========================
Body
==========================*/
body {
  background-color: #f8d703; /* yellow */
  color: #000;
  font-family: 'Helvetica', serif;
  padding: 30px;
}

/*========================
Header
==========================*/
header {
  /*border-bottom: 4px dashed rgba(221, 73, 19, 1);*/
}

.flex {
  display: flex;
  flex-direction: row;
}

.h1-div {

}


h1 {
  display: inline-block;
  font-family: "Helvetica Black", sans-serif;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
/*  margin-block-start: 0.5em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;*/
}

h2 {
  font-family: "Helvetica Black", sans-serif;
  font-size: 1em;
}

/*===========================
Zip form: field & button
=============================*/
.form-section {
  margin-top: 1em;
  display: block;
}

form {
  margin-top: 2rem;
  margin-bottom: 0em;
  display: block;
}

input#search-term  {
  font-size: 150%;
  padding: 4px;
  display: block;
  border-radius: 4px;
  /* width: 8rem; */
  /* height: 1rem; */
}


.submit-button {
  color: white;
  background-color: #000;
  font-size: 120%;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*font-size: 100%;*/
  margin: 10px 0px 20px 0px;
  cursor: pointer;
  /* removes ugly iOS styling */
  -webkit-appearance: none;
}

.submit-button:hover {
  z-index: 0;
  position: relative;
  overflow: hidden;
  color: #f8d703; /* yellow */
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}


#error-message {
  display: inline-block;
}


/*========================
Response
==========================*/
p {
  margin: 0;
  /*font-size: 80%;*/
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  /*margin-top: 15px;*/
  padding: 15px 15px 15px 0;
  /*background-color: #fff;*/
  animation-duration: .5s;
  animation-name: fadeIn;

}


/*========================
Footer
==========================*/
footer {
  position: absolute;
  left: 10px;
  bottom: 5px;
  font-size: 90%;
}

.footer-link a {
  color: rgba(0,0,0,1);
  text-decoration: none;
}




/*=================================*/
/*Very Small devices (500px and smaller) media query*/
/*=================================*/
@media (max-width: 500px) {

  input#search-term {
    width: 94%;
  }


  footer {
    font-size: 100%;
  }

}










