
/*
font-family: 'Grenze', serif;
font-family: 'Luckiest Guy', cursive;
font-family: 'Ultra', serif;
font-family: 'Lilita One', cursive;
*/


/*========================
Body
==========================*/
body {
  background-color: #ffc266; /* apricot */
  font-size: 150%;
  font-family: 'Grenze', serif;
}




/*========================
Footer
==========================*/
footer {
  position: absolute;
  left: 10px;
  bottom: 5px;
  font-size: 90%;
}

.footer-link a {
  color: rgba(0,0,0, .8);
  text-decoration: none;
}
